CRATEDB_URL=http://crate:@localhost:4200
GTFS_POSITIONS_FEED_URL=https://api.wmata.com/gtfs/rail-gtfsrt-vehiclepositions.pb
GTFS_POSITIONS_FEED_KEY=Your GTFS source key...
GTFS_AGENCY_ID=Your agency ID here...
SLEEP_INTERVAL=1

