<!DOCTYPE html>
<html class="has-background-white" data-theme="light">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CrateDB Real Time Transit Demo</title>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bulma.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/app.css') }}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <script type="text/javascript" src="{{ url_for('static', filename = '/js/fontawesome.js') }}"></script>
</head>

<body>
  <div id="mapId"></div>
  <div class="field is-grouped view-options">
    <div class="control">
      <input id="showStops" type="checkbox" name="showStops" class="switch is-medium is-default" checked="checked">
      <label for="showStops">Show stops.</label>
    </div>
    <div class="control">
      <input id="autoRefresh" type="checkbox" name="autoRefresh" class="switch is-medium is-default" checked="checked">
      <label for="autoRefresh">Auto refresh.</label>
    </div>
    <span class="select is-medium">
      <select id="autoRefreshInterval">
        <option selected>1</option>
        <option>2</option>
        <option>5</option>
        <option>10</option>
        <option>30</option>
      </select>
    </span>
  </div>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <script defer src="{{ url_for('static', filename = '/js/app.js') }}"></script>
</body>